@model GMed.Models.Operation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DMDPatient.NomPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DMDPatient.NomPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facture.FactureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facture.FactureId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RendezVous.DateRendezVous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RendezVous.DateRendezVous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactureId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactureId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RendezVousId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RendezVousId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traitement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traitement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresseOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresseOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntituleOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntituleOperation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActeMedicalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
