@model GMed.Models.DMDPatient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DMDPatient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrenomPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrenomPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressePatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressePatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDeNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDeNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntecedentsFamiliaux)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntecedentsFamiliaux)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntecedentsPersonnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntecedentsPersonnel)
        </dd>
      
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DMDPatientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
